/* Fonts */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: medium;
  font-weight: 500;
  src: url("../assets/fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: semi-bold;
  font-weight: 600;
  src: url("../assets/fonts/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../assets/fonts/Oswald-Bold.ttf");
}

/* Colors */

:root {
  --grey-light: #eadede;
  --orange-light: #f58840;
  --red-light: #b85252;
  --black-dark: #000000;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  background-color: var(--grey-light);
  font-family: "Josefin Sans", "Oswald", sans-serif;
}

/* General */
.page-container {
  padding: 5vh 5vw;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-title {
  text-align: center;
  margin: 2rem;
  text-transform: uppercase;
}

g:hover {
  fill: #ff6768;
}

/* continent */
.continent {
  text-align: center;
  max-width: 960px;
}
.continent-title {
  font-size: 4rem;
}

/* country */

.countries-label {
  font-size: 2rem;
  margin-right: 1rem;
}
.countries {
  padding: 1rem;
  background-color: var(--grey-light);
  font-size: 2rem;
}

.country-data {
  display: flex;
}

.country-data p {
  margin: 2rem 5rem 0 0;
  font-size: 2rem;
}
